.product-card {
    width: 50%;
    margin: 30px auto;
    cursor: pointer;
    color: grey;
    box-shadow: 1px 2px 3px rgba(136,10,142,0.3);
}

.qty-indicators{
	width: 25%;
	display: flex;
	margin: .7rem 0;
	align-items: center;
	justify-content: space-around;
}

.qty-btn{
	outline: none;
	border-radius: 3rem;
	border: 1px solid #eee;
	background-color: transparent;
}

.qty-btn:hover,
.qty-btn:focus{
	outline: none;
	background-color: #ddd;
}

.error-page {
	width: 100%;
	height: 100vh;
	display: flex;
	background-size: cover;
	background-position: center;
}
  
  .error-page__content{
	  width: 70%;
	  height: 100%;
	  padding: 3rem;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
  }
  
  .error-page__content h1{
	  font-size: 6rem;
	  color: #ffffff;
  }
  
  .error-page__content p{
	  font-size: 1.6rem;
	  color: #ffffff;
  }
  
  .error-page__content .actions{
	  margin-top: 4rem;
  }