{  
	"printWidth": 140,  
	"tabWidth": 2,  
	"useTabs": false,  
	"semi": true,  
	"singleQuote": true,  
	"quoteProps": "as-needed",  
	"jsxSingleQuote": false,  
	"trailingComma": "es5",  
	"bracketSpacing": true,  
	"jsxBracketSameLine": false,  
	"arrowParens": "always",  
	"proseWrap": "never",  
	"htmlWhitespaceSensitivity": "css",  
	"endOfLine": "lf",  
	"overrides": [
		{
			"files": [".eslintrc.js", ".huskyrc", ".prettierrc"],
			"options": { "parser": "json" },
		},
	],
}
