.pop {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100%;
    z-index: 1;
    transition-property: top;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.pop.visible {
    top: 0;
}
