.products__feed {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-flow: row wrap;
}

.products__none {
	width: 100%;
	text-align: center;
	padding: 1rem;
}