.product-card {
  width: 50%;
  margin: 30px auto;
  cursor: pointer;
  color: grey;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.product-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.pulse {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: linear-gradient(-90deg, #F0F0F0 0%, #F8F8F8 50%, #F0F0F0 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
  border-radius: 5px;
}

.pulse::before {
  content: "\00a0"; /* No break space */
}

.img {
  width: 300px;
  height: 300px;
  border-radius: 0;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}

/* Media Queries */
@media(max-width: 768px) {
  .product-card {
    width: 95%;
  }
}
@media(max-width: 1024px) {
  .product-card {
    flex-direction: column;
  }
}