html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.product-card {
  margin: 15px 0;
  cursor: pointer;
  color: grey;
  box-shadow: 1px 2px 3px rgba(136,10,142,0.3);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  column-gap: 20px;
}
  
.buy {
  margin-top: auto;
}

.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}