.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 30px;
}

.product-card {
  width: 100%;
  max-width: 900px;
  margin-bottom: 30px;
  cursor: pointer;
  color: grey;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

.sidebar-wrapper {
  height: 0%;
  min-width: 200px;
  margin-right: 30px;
}

.sidebar {
  display: flex;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

.sizes {
  margin-bottom: 10px;
}

.sidebar p {
  margin: 0;
}

.cart {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

.cart ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cart li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}