.user-card {
    width: 50%;
    margin: 30px auto;
    cursor: pointer;
    color: grey;
    box-shadow: 1px 2px 3px rgba(136,10,142,0.3);
  }

  .user-photo {
    width:  200px;
    height: 200px;
    object-fit: cover;
  }

  .spinner {
    margin: auto;
    width: 1%;
  }